Package: org.wuffs.flickplus
Name: FlicksForAll
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: iPad-like key flicks on iPhone (iOS 13)
Maintainer: Ninji <ninji@wuffs.org>
Author: Ninji <ninji@wuffs.org>
Section: Tweaks
