{
    items = (
        {
            cell = PSGroupCell;
            label = "Arbitrary Text Field";
            footerText = "Tap above to open a keyboard, which you can conveniently use to preview your settings.";
        },
        {
            cell = PSEditTextCell;
        },
        {
            cell = PSGroupCell;
            label = "Active Layouts";
        },
        {
            cell = PSGroupCell;
            label = "Symbol Colours";
            footerText = "Sets the colour of the symbols that appear on the top of the keys.";
        },
        {
            cell = PSLinkListCell;
            label = "Light Keyboard";
            default = "lgrey";
            defaults = "org.wuffs.flickplus";
            key = lightSymbols;
            validValues = ("lgrey", "dgrey", "black");
            validTitles = ("Light Grey (iOS Default)", "Dark Grey", "Black");
            shortTitles = ("Light Grey", "Dark Grey", "Black");
            detail = PSListItemsController;
            PostNotification = "org.wuffs.flickplus/ReloadPrefs";
        },
        {
            cell = PSLinkListCell;
            label = "Dark Keyboard";
            default = "lgrey";
            defaults = "org.wuffs.flickplus";
            key = darkSymbols;
            validValues = ("white", "lgrey", "dgrey", "black");
            validTitles = ("White", "Light Grey (iOS Default)", "Dark Grey", "Black");
            shortTitles = ("White", "Light Grey", "Dark Grey", "Black");
            detail = PSListItemsController;
            PostNotification = "org.wuffs.flickplus/ReloadPrefs";
        },

        {
            cell = PSGroupCell;
            label = "Sizing";
        },
        {
            cell = PSSwitchCell;
            label = "Smaller Symbols";
            default = 0;
            defaults = "org.wuffs.flickplus";
            key = smallSymbols;
            PostNotification = "org.wuffs.flickplus/ReloadPrefs";
        },

        {
            cell = PSGroupCell;
            label = "Haptics";
            footerText = "With this switch on, you will feel a click through the Taptic Engine once you've swiped down enough to activate the shortcut.";
        },
        {
            cell = PSSwitchCell;
            label = "Feedback on Slide";
            default = 1;
            defaults = "org.wuffs.flickplus";
            key = hapticFeedback;
            PostNotification = "org.wuffs.flickplus/ReloadPrefs";
        },

        {
            cell = PSGroupCell;
            label = "Tools";
            footerText = "Use only in case of emergency.";
        },
        {
            cell = PSButtonCell;
            label = "Reset Settings";
            action = "resetSettingsTapped:";
            confirmation = {
                prompt = "All of your FlicksForAll settings will be cleared. Are you sure?";
                title = "Yes, do it";
                cancelTitle = "Cancel";
            };
        },

        {
            cell = PSGroupCell;
            label = "Donate";
            footerText = "This tweak is free and open-source. If you like it, feel free to throw some money at me (no pressure though!)";
        },
        {
            cellClass = HBLinkTableCell;
            label = "PayPal.me";
            url = "https://paypal.me/trashcurl";
        },
        {
            cellClass = HBLinkTableCell;
            label = "Ko-fi";
            url = "https://ko-fi.com/ninji_";
        },
        {
            cellClass = HBLinkTableCell;
            label = "Monzo (UK only)";
            url = "https://monzo.me/ninji";
        },


        {
            cell = PSGroupCell;
            label = "Twitter";
            footerText = "You'll probably regret following me, but it's there if you really want to.";
        },
        {
            cellClass = HBTwitterCell;
            user = "_Ninji";
            label = "Ninji";
        },


        {
            cell = PSGroupCell;
            label = "Source Code";
        },
        {
            cellClass = HBLinkTableCell;
            label = "GitHub: Treeki/FlicksForAll";
            url = "https://github.com/Treeki/FlicksForAll";
        }
    );
    title = FlicksForAll;
}
